@{
    Layout = null;
}
<head>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/Angular/angular.min.js"></script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script src="~/Scripts/Angular/BarChart.js"></script>
</head>
<body>
    <div id="chart_div"></div>
</body>
