@{
    ViewBag.Title = "Home Page";
}
<script src="~/Scripts/Angular/angular.min.js"></script>
<script src="~/Scripts/Angular/App.js"></script>
<div ng-app="demo" ng-controller="HomeCtrl">
    <div ng-repeat="data in stock">
        {{data.Close}} {{data.DateUnix*1000|date : 'dd/MM/yyyy'}}
    </div>
</div>