@{
    Layout = null;
}
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/Angular/angular.min.js"></script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script src="~/Scripts/Angular/LineChart2.js"></script>
@*<button id="change-chart">Change to Classic</button>*@
<br><br>

    <div id="chart_div"></div>