@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <script src="~/Scripts/Angular/angular.min.js"></script>
    <script src="~/Scripts/Angular/ext.js"></script>
    <script src="~/Scripts/Angular/PieApp.js"></script>
</head>
<body ng-app="chartapp" np-controller="chartController">
    <div piechart></div>
</body>
</html>