@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/ext.js"></script>
    <script src="~/Scripts/PieApp.js"></script>
</head>
<body ng-app="chartapp">
    <div piechart></div>
</body>
</html>